h1 {
	color: #D9A4A;
	font-family: 'Playfair Display', sans-serif;
	font-size: 60px;
	text-align: center;
}	
p{
	color: #D9D4D2;
	font-family: "Comic Sans", Comic, sans-serif;
	font-size: 15px;
	text-align: center;
	margin: 2cm 4cm 3cm 4cm;
}